<!--views/partials/header.ejs-->

<nav class="navbar navbar-fixed-top navbar-expand">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a href="/jwmBlogs">
                <i class="material-icons">photo_camera</i> JWM
            </a>
        </li>
    </ul>
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/dashboard">
                    <i class="material-icons">dashboard</i>
                </a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
    <!-- /.container-fluid -->
</nav>
