<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
  </head>
  <body style="background-color:oldlace">
       <div id="frankdimodicaart">

     <fieldset>
         <h1 style="font-size:1.9em; color:blue; text-align:center">
           Yoga Class Generator
         </h1>
          <a  href="https://mighty-wave-90208.herokuapp.com/"><img src="chakras.jpg" style="width: 40%; position:relative; left: 25%"/></a>
      </fieldset>
    </div>
      <div>
      <fieldset>
          <h1 style="font-size:1.9em; color:blue; text-align:center">
            New York Code and Design Academy Class projects
          </h1>
           <a  href="https://salty-forest-43612.herokuapp.com/"><img src="logo.png" style="width: 40%; position:relative; left: 25%"/></a>
       </fieldset>
     </div>
       <div>
       <fieldset>
           <h1 style="font-size:1.9em; color:blue; text-align:center">
             Comedy Portfolio Page
           </h1>
            <a  href="https://desolate-meadow-81674.herokuapp.com/"><img src="microphone.png" style="width: 40%; position:relative; left: 25%"/></a>
        </fieldset>
      </div>
        <div>
        <fieldset>
            <h1 style="font-size:1.9em; color:blue; text-align:center">
              frankDimodicaArt.com
            </h1>
             <a  href="http://www.frankdimodicaart.com"><img src="79.jpg" style="width: 40%; position:relative; left: 25%"/></a>
         </fieldset>
       </div>
  </body>
</html>
