<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="add-container Site">
    <div class="Site-content">
        <div class="container">
            <header>
                <% include ../partials/header %>
            </header>
            <h1>Add Comment</h1>


            <form method="POST" action="/single-image/<%=id%>">
                <fieldset>
                    <label for="">Username:</label>
                    <input name="commentername" type="text">
                    <label for="">Comment:</label>
                    <input name="content" type="text">
                </fieldset>
                <fieldset>
                    <button id="add" type="submit">
                        <i class="material-icons">add</i>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>